
<div class="container-fluid">
  <div class="row" align="center">

    <form id="filters-form" action="/search" method="GET">
      <select class="type-filter">
        <option value="" type="text">Type of Employment</option>
        <option value="full time" type="text">Full-Time</option>
        <option value="part time" type="text">Part-Time</option>
        <option value="contract" type="text">Contract</option>
      </select>

      <select class="range-filter">
        <option value="" type="text">Income Range</option>
        <option value="5-10" type="range">$5 - $10</option>
        <option value="11-20" type="range">$11 - $20</option>
        <option value="21-30" type="range">$21 - $30</option>
        <option value="31-40" type="range">$31 - $40</option>
      </select>

      <select class="location-filter">
        <option value="" type="text">Location</option>
        <option value="new york" type="text">New York</option>
        <option value="california" type="text">California</option>
      </select>

      <button id="submit-filters" name="q" type="submit" value="submit" class="btn filter-search-btn">Go</button>
      <button class="btn filter-reset-btn" id="clear-filters" type="reset" value="Reset /" >Clear filters</button>
    </form> 
  </div>    
</div>