<!-- JOB APPLICATION RECEIVED -->
<div id="appreceived-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div type="button" class="close" data-dismiss="modal">&times;</div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <h2 class="login-title-modal-form">SAVED</h2>
              <div class="col-md-offset-2">
                <%= image_tag("check.png") %>
              </div>
              <br /> 
              <div>
                <a class="btn btn-in-modals btn-block" class="close" data-dismiss="modal">DONE</a>
              </div>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>