<!-- JOB APPLICATION RECEIVED -->
<div id="appreceived-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div type="button" class="close" data-dismiss="modal">X</div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
              <h2 class="">APPLICATION RECEIVED</h2>
              <div align="center">
                <p class="signup-form">We will be in touch within 24 hours.</p>
                <div class="col-md-offset-1">
                  <%= image_tag("check.png") %>
                <br /> 
                <div>
                <a class="btn btn-in-modals btn-block" class="close" data-dismiss="modal">DONE</a><br />
                  <div class="assistance">For immediate assistance, please call 212-888-8888</div>
                </div>
                </div>
              </div> 
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>