<nav id="previewNavBar" class="navbar navbar-default previewNavBar">
    <div class="container">
        <div class="navbar-header col-lg-3">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <!-- <span class="sr-only">Toggle navigation</span><i class="pull-right fa fa-bars fa-2x" aria-hidden="true"></i> -->
            </button>
            <%= link_to "", application_index_path, class: "navbar-brand metas-user-navbar-logo img-responsive" %>
        </div>

<!--         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="guestNavBarCursor" data-toggle="modal" data-target="#signup-modal">Jobs</a></li><br />
              <li><a class="guestNavBarCursor" data-toggle="modal" data-target="#signup-modal">Resources</a></li>
              <li><a class="guestNavBarCursor" data-toggle="modal" data-target="#signup-modal">About</a></li><br />
              <h7 class="col-md-8 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">Para informaci&#243;n en espa&#241;ol, llama 510-200-8260</h7>
            </ul>
        </div> -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
