<!-- PROFILE HAS BEEN UPDATED MODAL-->
<div id="updated-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div type="button" class="close" data-dismiss="modal">&times;</div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
            <h2>SAVED</h2>
            <p class="text-center">Looks great! Your profile changes have been saved.</p>
              <div class="text-center">
                <%= image_tag("check.png") %>
              </div>
              <br /> 
              <div>
                <a class="btn btn-in-modals btn-block profile-btn" class="close" data-dismiss="modal">DONE</a>
              </div>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>