<form action="/search" method="GET">
  <input type="text" name="q" value="" placeholder= "Keyword(s)" class="col-lg-offset-1 col-lg-8 col-md-8 col-sm-8 col-xs-8">
  &nbsp;&nbsp;<input type="submit" class="btn job-search-btn", value="SEARCH"> 
</form> 

<div id="temp_display"></div>

<form action="/search" method="GET">
	<select class="type-filter">
		<option value="" type="text">Type of Employment</option>
	  <option value="full time" type="text">Full-Time</option>
	  <option value="part time" type="text">Part-Time</option>
	</select>

	<select class="location-filter">
		<option value="" type="text">Location</option>
	<option value="new york" type="text">New York</option>
	<option value="california" type="text">California</option>
	</select>
  <button id="submit-filters" name="q" type="submit" value="submit">Go</button>
</form>	