<form action="/search" method="GET">
  <input type="text" name="q" value="" placeholder= "Keyword(s)" class="col-lg-offset-1 col-lg-8 col-md-8 col-sm-8 col-xs-8">
  &nbsp;&nbsp;<input type="submit" class="btn job-search-btn", value="SEARCH"> 
</form> 


<form>
<select action="/search" method="GET">
  <option type="text" name="q" value="california" class="col-lg-offset-1 col-lg-8 col-md-8 col-sm-8 col-xs-8">California</option>
  <option type="text" name="q" value="writer" class="col-lg-offset-1 col-lg-8 col-md-8 col-sm-8 col-xs-8">Writer</option>
  <input type="submit" class="btn job-search-btn" value="SEARCH"> 
</select > 

</form>