<!-- Modal for Sign up -->
<div id="signup-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header col-md-offset-3">
        <div type="button" class="close" data-dismiss="modal">X</div>
      </div>
      <div class="modal-body">
        <%= render :template=> 'devise/registrations/modal-new' %>
      </div>
    </div>
  </div>
</div>