<html>
  <body>
  <h2>Hi, Tanya. A new user has signed up for an account with METAS! Say hello!</h2>
  <h3>First name: <%= @user.first_name %></h3>
  <h3>Email: <%= @user.email %></h3>
    <%= yield %>
  </body>
</html>
