html{
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
header{
  margin-top: -125px;
}
.heading-font {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
}
a {                               // For underlining a links
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #05d5fa;
}
hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #05d5fa;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: white;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #05d5fa;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url("homepage-bg-img-copy.jpg");
  /* fallback for old browsers */
  background: url("homepage-bg-img-copy.jpg");
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("homepage-bg-img-copy.jpg");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #261762;
  background-size: cover;
  background-repeat: no-repeat;
}
header .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
}
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
header .header-content .header-content-inner .list-badges {
  margin-bottom: 25px;
}
header .header-content .header-content-inner .list-badges img {
  height: 50px;
  margin-bottom: 25px;
}
header .device-container {
  max-width: 300px;
  margin: 0 auto 100px;
}
header .device-container .screen img {
  border-radius: 3px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    text-align: left;
    padding: 0;
    height: 100vh;
  }
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  header .header-content .header-content-inner h1 {
    font-size: 35px;
  }
  header .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 100px auto 0;
  }
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
}
.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}

// **************** RESOURCES **************** //
.service-img{
  background-image: url(placeholder-img.jpg);
  background-size: cover;
  height: 300px;
}
.service-img-2{
  background-image: url(placeholder-2.jpg);
  background-size: cover;
  height: 300px;
}
#services{
  padding: 2em 0em 5em 0em;
}
#services h2{
  color: #261762;
}
// **************** FOOTER **************** //
#footer{
  background-color: #261762;
  padding: 2em 0em 2em 0em;
}
#footer h4{
  color: #05d5fa;
}
#footer li{
  color: white;
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  list-style-type: none;
}
#social-icons-display a{
  display: inline-block;
}
.fb-icon{
  background-image: url(fb-icon.svg);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  margin-left: 1em;
}
.ig-icon{
  background-image: url(ig-icon.svg);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
}
.in-icon{
  background-image: url(in-icon.svg);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
}
.tw-icon{
  background-image: url(tw-icon.svg);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
}
.metas-logo-footer {
  background-image: url(metas_logo.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 500px;
}
// **************** MODALS **************** //

.modal-cursor{
  cursor: pointer;
  background-color: #261762;
}
.btn-modals{
  color: white;
  background-color: #261762;
}
.btn-modals:hover{
  color: #261762;
  background-color: white;
  border: 3px solid #261762;
}
.modal-backdrop {
   background-color: rgba(38, 23, 98, 1);
}
// **************** NAVBARS**************** //

nav {border-radius: 0 !important; }

.nav.navbar-nav.navbar-right a{
  color: #261762;
}
.navbar-default {
  z-index: 1;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-default .navbar-header {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  color: #261762;
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: green;
  padding: 0px 10px;
}
.navbar-default .nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #05d5fa;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
#userNavBar {
  padding: 1em 0 1em 0em;
  background-color: #261762;
}

#userNavBar a {
  color: white;
}
.user-navbar-links{
  margin-top: 1em;
}
#userNavBar a:hover {
  color: #05d5fa;
}
#guestNavBar ul li a { 
  color: white
}
#guestNavBar ul li a:hover { 
  color: #261762
}
.metas-logo {
  background-image: url(metas_logo.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 700px;
}

// **************** EDIT PROFILE **************** //

.editprofile h1 {
  color: #0EF4B5;
}
.editprofile  h3{
  color: #0EF4B5
}
.editprofile .btn-custom {
  margin-top: 1.5em;
  border: 4px solid #261762;
  color: #261762;
  background-color: white;
}
.editprofile .btn-custom:hover{
  background-color: #0EF4B5;
}
.editprofile input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 1em;
    width: 260px;
    height: 35px;
}
