$metas-celeste:  #05d5fa;
$lighter-celeste: #37DDFB;
$metas-purple: #261762;
$lighter-purple: #36218b;
$metas-green: #00F7A8;
$customhr: #8679b9;
// $navbar-font: 'Raleway', sans-serif;
$body-font: 'Lato', sans-serif;

html{
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  font-family: $body-font;
}
.holder{                          //keeps footer on bottom when content changes
  min-height: 100%;
  position: relative;
}
a {                               // For underlining a links
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: $lighter-celeste;
}
p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.spacer{
  padding-top: 4em;
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url("main-bg-copy.jpg");
  /* fallback for old browsers */
  background: url("main-bg-copy.jpg");
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("main-bg-copy.jpg");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
}
header .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
}
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
header .device-container {
  margin: 0 auto 100px;
}
input, button, select, textarea {        //search bar 
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-top: 0.5em;
  font-style: normal;
  height: 35px;
  margin-bottom: 1em;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: -0.5em;
}
// **************** BOOTSTRAP FLASH **************** //
.alert-danger, .alert-success{
  margin: 0em 1em;
  position: relative;
  z-index: 2000;
}
.success-close{
  width: 1em;
  margin-top: -0.7em; 
}
.error-close{
  width: 1em; 
  margin-top: -0.7em;
}
.error-close span, .success-close span{
  color: #212121;
}
.error-close span:hover, .success-close span:hover{
  color: #2E2E2E;
}
// **************** JOBS PAGE **************** //

.jobs-page input, button, select, textarea {        //search bar 
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-top: 0.5em;
  font-style: normal;
  height: 35px;
  margin-bottom: 1em;
}
.job-search-btn{
  color: white;
  font-weight: 500;
  font-size: 1.3em;
  font-style: normal;
  background-color: #05d5fa;
  width: 7em;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
}
.filter-search-btn{
  color: white;
  font-weight: 500;
  font-size: 1.3em;
  font-style: normal;
  background-color: #05d5fa;
  width: 3em;
  margin-bottom: 1.2em;
  letter-spacing: 1px;
}
.filter-reset-btn{
  color: $metas-celeste;
  background-color: transparent;
  width: 5em;
  margin-bottom: 1.2em;
  letter-spacing: 1px;
  text-decoration: underline;
}
.filter-reset-btn:hover{
  color: $lighter-celeste;
}
.job-search-btn:hover, .filter-search-btn:hover{
  color: white;
  background-color: $lighter-celeste;
}
.job-apply-btn{
  color: white;
  font-weight: 300;
  font-size: 1em;
  font-style: normal;
  background-color: $metas-purple;
  width: 10em;
  letter-spacing: 1px;
  margin-top: 4em;
  margin-right: -10.5em;
}
.job-apply-btn:hover{
  background-color: $lighter-purple;
  color: white;
}
.filter-menu{
  background-color: #f9f9f9;
  border: 1px #ccc solid;
  font-style: normal;
}
.filters-wrapper{
  background-color: #f9f9f9;
  padding-top: 1em;
  padding-bottom: 1.5em;
  border-bottom: 1px #ccc solid;
  border-right: 1px #ccc solid;
  border-left: 1px #ccc solid;
}
.jobs-page h2, .document-page h2{
  color: $metas-purple;
  font-weight: 600;
}
.jobs-page h3, .document-page h3{
  color: #696969;
}
.jobs-page h4, .document-page h4{
  color: #696969;
  font-weight: 500;
}
.job-modal-body{
  margin-left: 2em;
}
.job-modal-body input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-top: 1.3em;
  font-style: italic;
  width: 100%;
}
#job-modal p {
  color: $metas-purple;
}
.jobs-page label, .document-page label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 100;
  color: #35a4a7;
  font-size: 1.2em;
}
.apply-to-job-title{
  color: $metas-purple;
  font-family: 'Lato', sans-serif;
  font-weight: 100 !important;
  text-align: center;
  font-size: 3.5em;
}
.contact-form-title{
  color: $metas-purple;
  font-family: 'Lato', sans-serif;
  font-weight: 100 !important;
  text-align: center;
  font-size: 3.5em;
}
#updated-modal p{
  color: $lighter-purple;
  font-weight: 100;
  font-size: 19px;
}
#updated-modal h2{
  color: #261762;
  font-weight: 100;
  text-align: center;
  font-size: 3.5em;
}
.jobs-page .pay span, .document-page .pay span{
  color: $metas-purple;
  font-weight: 900;
}
.jobs-page .pay, .document-page .pay {
  color: $metas-purple;
  font-size: 2em;
  font-weight: 900;
}
.clock{
  height: 50px;
  width: 50px;
  margin-right: 5px;
  border-radius: 50%;
}
.jobs-page .text{
  color: grey;
}
.assistance {
  color: lightgrey !important;
  font-size: 0.9em !important;
  margin-top: 3px;
}
#appreceived-modal h2{
  color: $metas-purple;
  font-family: 'Lato', sans-serif;
  font-weight: 100 !important;
  text-align: center;
  font-size: 2.4em;
} 
#appreceived-modal p{
  color: $metas-purple;
  font-weight: 100;
  font-size: 19px;
  margin: 1.5em -3em 1em -1em;
}
// **************** JOBS PAGE FOR GUESTS **************** //
.guest-apply-btn{
  color: white;
  font-weight: 300;
  font-size: 1em;
  font-style: normal;
  background-color: $metas-purple;
  width: 10em;
  letter-spacing: 1px;
  margin-top: 4em;
  margin-right: -10.5em;
}
.guest-apply-btn:hover{
  background-color: $lighter-purple;
  color: white;
}
.jobsGuestNavBar h7{
  color: white;
  margin-top: 0em;
  margin-bottom: 0em;
  position: relative;
  left: 5% !important;
  width: 30em;
}
// **************** RESOURCES PAGE **************** //
#services-resources-page{
  padding-bottom: 5em; 
}
.resources-padding{
  padding: 3em 1em 1em 1em;
}
#services-resources-page  .service-box{
  background-color: white;
  top: 6em;
  position: relative;
  width: 23em;
  margin-left: 1.5em;
  padding: 0.5em 0.9em;
  left: 30em;
  height: 10em;
  border-right: 5px solid $customhr;
}
#services-resources-page h3 {
  color: $metas-purple;
  font-weight: 700;
  padding-left: 0.5em;
}
#services-resources-page p {
  color: $lighter-purple;
  font-family: 'Lato', sans-serif;
  padding-left: 1em;
}

// **************** RESOURCES IN INDEX PAGE**************** //
.service-img-1{
  background-image: url(placeholder-1.jpg);
  background-size: cover;
  height: 260px;
}
.service-img-2{
  @extend .service-img-1;
  background-image: url(placeholder-2.jpg);
}
.service-img-3{
  @extend .service-img-1;
  background-image: url(placeholder-5.jpg);
  margin-top: 3em;
}
.service-img-4{
  @extend .service-img-1;
  background-image: url(placeholder-4.jpg);
  margin-top: 3em;
}
.service-img-5{
  @extend .service-img-1;
  background-image: url(placeholder-3.jpg);
}
.service-img-6{
  @extend .service-img-1;
  background-image: url(placeholder-6.jpg);
}
#services-index-page{
  padding: 3em 0em 8em 5em;
} 
#services-index-page h2 {
  color: $metas-purple;
}
#services-index-page h3 {
  color: $metas-purple;
  font-weight: 700;
  padding-left: 0.5em;
}
#services-index-page p {
  color: $metas-purple;
  padding-left: 1em;
}
.service-box {
  background-color: white;
  top: 17em;
  position: relative;
  width: 23em;
  margin-left: 1.5em;
  padding: 0.2em 0.2em;
}
.secondrow{               //separates certifications and languages from top divs
  margin-top: 6em;
}
.customhr {
  height: 5px;
  width: 23em;
  background-color: $customhr;
  position: absolute;
}
.add-padding{
  padding-bottom: 1.2em;
}
// **************** SEARCH PAGE**************** //

.search-page h3 {
  color: $metas-purple;
}
.search-result li a{
  color: $metas-purple;
  text-decoration: underline;
  list-style-type: bullet;
}
.search-result li a:hover{
  color: $lighter-purple;
}
.search-page ul li{
  list-style-type: circle !important;
}
// **************** FOOTER **************** //
#footer{
  background-color: $metas-purple;
  padding: 2em 0em 2em 0em;
}
#footer a{
  text-transform: uppercase;
  }
#footer a:hover{
    color: $metas-celeste;
  }
#footer h4{
    font-weight: 600;
    letter-spacing: 1.3px;
    color: $metas-celeste;
  }
#footer li a{
  color: #FFFAFA;
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  letter-spacing: 1px;
  list-style-type: none;
  cursor: pointer;
  }
#footer li{
  list-style-type: none;
  }
#social-icons-display a{
  display: inline-block;
  padding-right: 2.5em;
}
.fb-icon{
  background-image: url(fb-icon.svg);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  margin-left: 1em;
}
.fb-icon:hover {
   background-image: url('black-fb-icon.svg');
}
.ig-icon{
  background-image: url(ig-icon.svg);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
}
.ig-icon:hover {
   background-image: url('black-ig-icon.svg');
}


.in-icon{
  @extend .ig-icon;
  background-image: url(in-icon.svg);
}
.in-icon:hover {
   background-image: url('black-in-icon.svg');
}


.tw-icon{
  @extend .ig-icon;
  background-image: url(tw-icon.svg);
}
.tw-icon:hover {
   background-image: url('black-tw-icon.svg');
}

.metas-logo-footer {
  background-image: url(logo-de-metas-footer.png);
  background-repeat: no-repeat;
  height: 100px;
  width: 380px;
  background-size: contain;
}
// **************** CONTACT FORM **************** //
#contactus-modal label {
  display: inline-block;
  max-width: 100%;
  font-weight: 100;
  color: #35a4a7;
  font-size: 1.2em;
}
.contactus-modal-body{
  margin-left: 2em;
}
.contactus-modal-body input{
  margin-top: 0;
}
.contactus-modal-body input, button, select, textarea {
  font-size: inherit;
  line-height: inherit;
  font-style: italic;
  width: 100%;
}
#contactus-modal p{ 
  color: $lighter-purple;
  font-weight: 100;
  font-size: 19px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

// **************** NAVBARS **************** //

nav {border-radius: 0 !important; }

.navbar-default {
  // z-index: 1;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-weight: 200;
  letter-spacing: 1px;
  border-color: transparent;
}
.nav > li > a {
  position: relative;
  z-index: 1;
  display: block;
  padding: 10px 30px;
}
.navbar-default .nav > li > a {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.3em;
  font-weight: 900;
}
.btn-to-login-modal{                      //on navbar
  cursor: pointer;
  background-color: $metas-purple;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.btn-to-signup-modal{
  cursor: pointer;
  background-color: $metas-purple;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#guestNavBar{
  margin-top: 0.5em;
  position: absolute;
}
#welcomeNavBar{
  margin-top: -0.7em;
  position: absolute;
  padding-right: -20em;
  // left: 20%;
}
#welcomeNavBar li{
  left: 5em;
}
#guestNavBar li{
  left: 10em;
}
#userNavBar li{
  left: 10em;
}
#guestNavBar ul li a, #welcomeNavBar ul li a{ 
  color: $metas-purple;
}
#userNavBar ul li a {
  color: white;
}
#guestNavBar ul li a:hover { 
  color: $metas-celeste;
}
// #guestNavBar ul li:nth-child(n+4) a {
//   color: white;
//   font-size: 13px;
//   font-family: 'Lato', sans-serif;
//   font-weight: 100;
//   padding: 0.7em 0.5em 0.7em 1.3em;
//   margin-top: 0.2em;
// }
#guestNavBar ul li:nth-child(n+2) a {
  color: white;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  padding: 0.7em 0.5em 0.7em 1.3em;
  margin-top: 0.2em;
}
#guestNavBar ul li:nth-child(3) a {
  padding: 0.7em 1.3em 0.7em 0.5em; 
}
// #guestNavBar ul li:nth-child(n+4)  a:hover {
//   color: $metas-celeste; 
// }
#guestNavBar ul li:nth-child(n+2)  a:hover {
  color: $metas-celeste; 
}
.guestNavBarCursor{
  cursor: pointer;
}
#userNavBar {
  padding: 2.5em 0 1em 0em;
  margin-top: 0em;
  background-color: $metas-purple;
}
#userNavBar a:hover {
  color: $metas-celeste;
}
#userNavBar h6 a:hover {
  color: $metas-green;
}
#userNavBar .navbar-name{
  border: 1px white solid;
  border-radius: 8px;
}
#userNavBar .navbar-name a{
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 600;
}
// #userNavBar h7{
//   color: white;
//   margin-top: 0em;
//   margin-bottom: 0em;
//   position: relative;
//   left: 37%;
//   width: 30em;
// }
#userNavBar h7{
  color: white;
  margin-top: 0em;
  margin-bottom: 0em;
  position: relative;
  left: 15%;
  width: 30em;
}
#userNavBar ul li:nth-child(5) a {
 color: white;
 font-family: 'Lato', sans-serif;
}
#userNavBar ul li:nth-child(5) a:hover {
  color: $metas-celeste;
}
.active a{
  color: red !important;
}
#userNavBar .navbar-name{
  color: white;
  background-color: $metas-purple;
  font-weight: 500;
  font-size: 1em;
  border-radius: 8px;
  margin-bottom: 5px;
}
#guestNavBar h7{
  color: $metas-purple;
  margin-top: 1em;
  margin-bottom: 0em;
  position: relative;
  width: 28em;
  left: -15%;
}
// #userNavBar h6 a{
//   color: $metas-celeste;
//   position: relative;
//   text-decoration: underline;
//   left: 74%;
//   font-size: 1.2em;
// }
#userNavBar h6 a{
  color: $metas-celeste;
  position: relative;
  text-decoration: underline;
  left: 65%;
  font-size: 1.2em;
}
// #welcomeNavBar h6 a{
//   color: $metas-celeste;
//   position: relative;
//   text-decoration: underline;
//   font-size: 1.2em;
//   left: 75%;
// }
#welcomeNavBar h6 a{
  color: $metas-celeste;
  position: relative;
  text-decoration: underline;
  font-size: 1.2em;
  left: 49%;
}
#welcomeNavBar h6 a:hover {
  color: $metas-green;
}
#welcomeNavBar .welcome-link a {
 color: white;
 font-family: 'Lato', sans-serif;
 padding: 0.7em;
 font-size: 1em;
 padding-left: -4em;
 text-transform: capitalize;
}
// #welcomeNavBar h7{
//   color: $metas-purple;
//   padding: 2px 2px;
//   margin-top: 0em;
//   margin-bottom: 0em;
//   position: relative;
//   left: 35%;
//   width: 30em;
// }
#welcomeNavBar h7{
  color: $metas-purple;
  padding: 2px 2px;
  margin-top: 0em;
  margin-bottom: 0em;
  position: relative;
  width: 26em;
  left: -12%;
}
#welcomeNavBar .navbar-name{
  color: white;
  background-color: $metas-purple;
  font-weight: 500;
  font-size: 1em;
  border-radius: 8px;
  margin-bottom: 5px;
}
#welcomeNavBar ul li a:hover{
  color: $metas-celeste;
}
// **************** MOBILE FA-BARS **************** //

.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: $metas-celeste;
  padding: 0px 10px;
  margin-top: 1em;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

// **************** METAS LOGOS  **************** //

.metas-main-welcome-page-logo{
  background-image: url(logo-de-metas.png);
  background-repeat: no-repeat;
  height: 110px;
  width: 630px;
  background-size: contain;
}
.welcome-page-header-content-inner-h4{
  color: $metas-purple;
  font-weight: 400;
  letter-spacing: 0.7;
  line-height: 150%;
  font-size: 1.9em;
  margin-left: -1.5em;
}
.metas-main-index-page-logo{
  background-image: url(logo-de-metas.png);
  background-repeat: no-repeat;
  height: 90px;
  width: 550px;
  background-size: contain;
}
.index-page-header-content-inner-h4{
  margin-left: 1.5em;
  color: $metas-purple;
  font-weight: 500;
  letter-spacing: 0.7;
  line-height: 150%;
}
.metas-user-navbar-logo{
  background-image: url(logo-de-metas.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 150%;
  // background-color: white;
}
.metas-guest-navbar-logo{
  background-image: url(logo-de-metas.png);
  background-repeat: no-repeat;
  width: 200px;
  background-size: contain;
  // background-color: maroon;
}

// ****************       MEDIA QUERIES        **************** //
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .metas-user-navbar-logo{
    width: 500px !important;
    background-size: contain;
    margin-bottom: 0em !important;
    // background-color: green;
  }
}
// Extra Small Devices, Phones
@media only screen and (max-width : 768px) {
  .btn-to-login-modal, .btn-to-signup-modal{                      
    cursor: pointer;
    color: $lighter-purple !important;
    background-color: transparent;
    border-radius: 0px 0px;
    padding: 0px 0px;
  }
  #guestNavBar ul li:nth-child(n+2) a {
    color: $metas-purple !important;
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding: 0.7em 0.5em 0.7em 1em;
    margin-top: 0.2em;
  }
  .nav > li > a {
    position: relative;
    display: block;
    text-align: center;
  }
  #guestNavBar ul li a:hover, #welcomeNavBar ul li a:hover {
    background-color: $lighter-celeste;
    color: $metas-purple;
  }
  #guestNavBar ul li:nth-child(n+4)  a:hover {
    background-color: $metas-celeste ! important; 
  }
  #userNavBar h7{
    color: white;
    padding: 0em 0em;
    text-align: center;
    left: 0%;
    margin-top: -1em;
  }
  #guestNavBar h7{
    color: $metas-purple;
    text-align: center;
    padding: 0em 0em;
    left: 0;
    margin-top: -1em;
    width: 25.5em;
  }
  #welcomeNavBar h7{
    color: $metas-purple;
    text-align: center;
    padding: 0em 0em;
    left: 0;
    margin-top: -1em;
    width: 29em;
  }
  #welcomeNavBar li {
    left: 0em;
  }
  #userNavBar li {
    left: 0em;
  }
  .previewNavBar h7{
    left: -8% !important;
  }
  .previewNavBar li{
    left: 5em;
  }
  #welcomeNavBar .navbar-name{
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: $metas-celeste;
    font-weight: 900;
    font-size: 1em;
    padding: 2em 0.5em 1em 0em;
    border-radius: 0px;
    margin: -19px 0px;
    text-align: center;
  }
  #userNavBar ul li a:hover {
    background-color: $metas-celeste;
    color: $lighter-purple;
  }
  header{
    background-size: cover;
  }
  .profile-info {
    padding-left: 1em !important;
  }
}


// // METAS LOGO ON MOBILE NAVBAR
@media only screen and (max-width : 565px) {
  .metas-user-navbar-logo{
    width: 210px !important;
    background-size: contain !important;
    margin-bottom: 0em !important;
    // background-color: red;
  }
  #userNavBar.navbar-default .navbar-header .navbar-toggle {
    font-size: 12px;
    color: #05d5fa;
    padding: 0px 10px;
    margin-top: -0.5em; 
    width: 1em;
  }
}
@media only screen and (min-width:566px) and (max-width: 721px)  {
  .metas-user-navbar-logo{
    width: 210px !important;
    margin-top: -2.3em !important;
    background-size: contain;
    margin-bottom: 1em !important;
    // background-color: orange;
  }
}


// // SERVICES
@media only screen and (max-width:800px){
  #services-index-page .service-box{                 //for adding margin to be able to read description box of service box
    margin-top: 6em;
  }
  #services-index-page{         //resets padding ledt to zero so service boxes can be centered on smaller screens
    padding: 3em 0em 8em 0em;
  }
  #services-index-page .jobtools-findjob-top{
    margin-top: -5em !important;
  }
  #services-resources-page .service-box{                 //for adding margin to be able to read description box of service box
    margin-top: 6em;
  }
  #services-resources-page .jobtools-findjob-top{
    margin-top: -5em !important;
  }
  #services-resources-page  .service-box{
    background-color: white;
    top: 12em;
    position: relative;
    width: 21.5em;
    margin-left: -0.1em;
    padding: 0.5em 0.9em;
    left: 0.5em;
    height: 10em;
    border-bottom: 5px $customhr solid;
    border-right: none;
  }
  #services-resources-page .jobs-div{
    margin-top: -7em;
  }
}

// // HEADER
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    text-align: left;
    padding: 0;
    height: 100vh;
  }
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  header .header-content .header-content-inner h1 {
    font-size: 35px;
  }
  header .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 100px auto 0;
  }
}


// MOBILE RESPONSIVE
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  body{
    // background-color: hotpink;
    width: 100%;
  }
  #guestNavBar ul li:nth-child(n+4) a {
    color: #261762 !important;
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding: 0.7em 0.5em 0.7em 1.3em;
    margin-top: 0.2em;
  }
  #guestNavBar{
    margin-top: -0.4em;
  }
  .metas-user-navbar-logo {
    width: 210px !important;
    background-size: contain !important;
    margin-bottom: 0em !important;
    margin-top: -2em;
    // background-color: hotpink;
  }
  footer li{
    text-align: center;
  }
  footer h4{
    text-align: center;
  }
  footer{
    padding-bottom: 6em !important;
    // margin-top: 3em;
  }
  #social-icons-display{
    position: relative;
    left: 16.5%;
  }
  .editprofile input, button, select, textarea {
    width: 280px !important;
  }
  .uploadprofile-btn{
    font-size: 1em !important;
  }
  .editprofile h2{
    font-size: 1.8em;
  }
  .welcome-page-header-content-inner-h4{
    font-size: 1.5em;
    text-align: center;
  }
  #welcomeNavBar h7 {
    left: -1.8em;
  }
  #userNavBar h7 {
    left: -1.9em;
  }
  #guestNavBar li{
    left: 0;
  }
  .contactus-modal-body{
    margin-left: 0em;
  }
  .service-box {
    width: 23em;
    top: 12em;
    margin-left: 1.1em;
  }
  .customhr {
    height: 5px;
    width: 23em;
    background-color: $customhr;
    position: absolute;
    margin-left: -0.2em;
  }
  .job-modal-body{
    margin-left: 0em;
  }
  .logout-welcome a {
   color: $metas-purple !important;
   font-family: 'Lato', sans-serif;
   padding: 0.7em;
   font-size: 1.3em !important;
   padding-left: -4em;
   text-transform: uppercase !important;
  }
  .logout-user a {
   color: white !important;
   font-family: 'Lato', sans-serif;
   padding: 0.7em;
   font-size: 1.3em !important;
   padding-left: -4em;
   text-transform: uppercase !important;
  }
  #appreceived-modal p{
    text-align: center;
    float: none;
    margin-left: -3em;
  }
  .contact-form-title{
    color: $metas-purple;
    font-family: 'Lato', sans-serif;
    font-weight: 100 !important;
    text-align: center;
    font-size: 3em;
  }
  .uploadpic-btn{
    font-size: 1em !important;
  }
  #footer{
    padding-left: 0.7em;
  }
  #footer li a {
    letter-spacing: 3px;
  }
  #footer h4{
    letter-spacing: 2px;
  }
}

// // GALAXY S5
// @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){
//   body{
//     background-color: turquoise;
//   }
// }

// // iPhone 5
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
{
   body{
    // background-color: yellow;
    width: 113%;
   }
}

// // iPad
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  body{
    // background-color: orange;
    width: 100%;
  }
  #guestNavBar, #welcomeNavBar{
    margin-top: 1.5em;
  }
  #guestNavBar ul li{
    font-size: 1.5em;
  }
  #welcomeNavBar ul li{
    font-size: 1.2em;
  }
  #welcomeNavBar h7{
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.4em !important;
    margin-left: -3em;
  }
  #guestNavBar ul li:nth-child(n+4) a{
    font-size: 1.4em;
    margin-top: -0.2em;
  }
  #guestNavBar h7{
    margin-top: 1em;
    position: relative;
    font-weight: 500;
    font-size: 2em !important;
  }
  header .header-content .header-content-inner{
    top: 35%;
    left: 6%;
  }
  .index-page-header-content-inner-h4 {
    font-size: 2.3em;
    margin-left: -1em;
  }
  .signup-ipad {
    position: relative;
    left: -80%;
    margin-top: 50em;
  }
  .metas-main-index-page-logo{
    width: 1000px;
    height: 130px;
  }
  .metas-main-welcome-page-logo{
    width: 1000px;
    height: 130px;
    margin-left: -10em;
  }
  .welcome-page-header-content-inner-h4 {
    font-size: 2.3em;
    margin-left: -5em;
  }
  #services-index-page .jobtools-findjob-top {
    margin-top: 0em !important;
  }
  #social-icons-display{
    margin-left: -2em;
  }
  #social-icons-display a{
    padding-right: 0em;
  }
  .service-box {
    background-color: white;
    top: 15em;
    position: relative;
    width: 23em;
    margin-left: 1em;
    padding: 0.2em 0.2em;
  }
  #services-index-page {
    padding: 3em 0em 8em 0em;
  }
  .customhr{
    margin-left: -0.2em;
  }
  .index-page .form-control {
    width: 150%;
    height: 74px;
    font-size: 24px;
  }
  .checkbox > label > span {
    text-decoration: underline;
    font-size: 16px;
  }
  .index-signup-title{
    font-size: 4em !important;
    position: relative;
    left: 16%;
  }
  .index-signup-btn{
    width: 145%;
    font-size: 2em;
    padding-bottom: 1.7em;
    margin-left: 2.5em;
  }
}

