$metas-celeste:  #05d5fa;
$lighter-celeste: #37DDFB;
$metas-purple: #261762;
$lighter-purple: #36218b;
$metas-green: #00F7A8;
$customhr: #8679b9;
// $navbar-font: 'Lato', sans-serif;
$body-font: 'Raleway', sans-serif;

html{
  height: 100%;
  width: 100%;
}
body {
  font-family: $body-font;
}
header{
  margin-top: -100px; 
}
a {                               // For underlining a links
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: $metas-celeste;
}
p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 20px;
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url("main-bg-copy.jpg");
  /* fallback for old browsers */
  background: url("main-bg-copy.jpg");
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("main-bg-copy.jpg");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
}
header .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
}
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
header .header-content .header-content-inner .list-badges {
  margin-bottom: 25px;
}
header .header-content .header-content-inner .list-badges img {
  height: 50px;
  margin-bottom: 25px;
}
header .device-container {
  max-width: 300px;
  margin: 0 auto 100px;
}
header .device-container .screen img {
  border-radius: 3px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    text-align: left;
    padding: 0;
    height: 100vh;
  }
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  header .header-content .header-content-inner h1 {
    font-size: 35px;
  }
  header .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 100px auto 0;
  }
}
// **************** JOBS PAGE **************** //

.jobs-page input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-top: 0.5em;
  font-style: normal;
  height: 40px;
}
.job-search-btn{
  color: white;
  font-weight: 500;
  font-size: 1.3em;
  font-style: normal;
  background-color: #05d5fa;
  width: 7em;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
}
.job-search-btn:hover{
  color: white;
  background-color: $lighter-celeste;
}
.job-apply-btn{
  color: white;
  font-weight: 300;
  font-size: 1em;
  font-style: normal;
  background-color: $metas-purple;
  width: 7em;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
}
.job-apply-btn:hover{
  background-color: $lighter-purple;
  color: white;
}
.options-btn{
  background-color: #f9f9f9;
  border: 1px #ccc solid;
}
.filters-wrapper{
  background-color: #e4e4e4;
  padding-top: 1em;
  padding-bottom: 1.5em;
  border-bottom: 1px #ccc solid;
  border-right: 1px #ccc solid;
  border-left: 1px #ccc solid;
}
.jobs-page h2{
  color: $metas-purple;
  font-weight: 600;
}
.jobs-page h3{
  color: #696969;
}
.jobs-page h4{
  color: #696969;
  font-weight: 500;
}
// **************** RESOURCES PAGE **************** //
#services-resources-page{
  padding-bottom: 5em; 
}
.resources-padding{
  padding: 1em 1em;
}
#services-resources-page  .service-box{
  background-color: white;
  top: 6em;
  position: relative;
  width: 23em;
  margin-left: 1.5em;
  padding: 0.5em 0.9em;
  left: 30em;
  height: 10em;
  border-right: 5px $customhr solid;
}
#services-resources-page h3 {
  color: $lighter-purple;
  font-weight: 700;
  padding-left: 0.5em;
}
#services-resources-page p {
  color: $lighter-purple;
  padding-left: 1em;
}

// **************** RESOURCES IN INDEX PAGE**************** //
.service-img-1{
  background-image: url(placeholder-1.jpg);
  background-size: cover;
  height: 300px;
}
.service-img-2{
  @extend .service-img-1;
  background-image: url(placeholder-2.jpg);
}
.service-img-3{
  @extend .service-img-1;
  background-image: url(placeholder-3.jpg);
}
.service-img-4{
  @extend .service-img-1;
  background-image: url(placeholder-4.jpg);
}
.service-img-5{
  @extend .service-img-1;
  background-image: url(placeholder-5.jpg);
}
.service-img-6{
  @extend .service-img-1;
  background-image: url(placeholder-6.jpg);
}
#services-index-page{
  padding: 3em 0em 8em 5em;
} 
#services-index-page h2 {
  color: $lighter-purple;
}
#services-index-page h3 {
  color: $lighter-purple;
  font-weight: 700;
  padding-left: 0.5em;
}
#services-index-page p {
  color: $lighter-purple;
  padding-left: 1em;
}
.service-box {
  background-color: white;
  top: 17em;
  position: relative;
  width: 23em;
  margin-left: 1.5em;
  padding: 0.2em 0.2em;
}
.secondrow{               //separates certifications and languages from top divs
  margin-top: 6em;
}
.customhr {
  height: 5px;
  width: 23em;
  background-color: $customhr;
}
@media only screen and (max-width:800px){

  .service-box{                 //for adding margin to be able to read description box of service box
    margin-top: 6em;
  }
  #services-index-page{         //resets padding ledt to zero so service boxes can be centered on smaller screens
    padding: 3em 0em 8em 0em;
  }
  #services-resources-page  .service-box{
    background-color: white;
    top: 17em;
    position: relative;
    width: 21.5em;
    margin-left: 1em;
    padding: 0.5em 0.9em;
    left: 0.5em;
    height: 10em;
    border-bottom: 5px $customhr solid;
    border-right: none;
  }
}
// **************** ABOUT **************** //




// **************** FOOTER **************** //
#footer{
  background-color: $metas-purple;
  padding: 2em 0em 2em 0em;
}
  h4{
    font-weight: 600;
    color: $metas-celeste;
  }
  li{
    color: #FFFAFA;
    font-size: 14px;
    font-weight: 100;
    text-align: left;
    letter-spacing: 1px;
    list-style-type: none;
  }
#social-icons-display a{
  display: inline-block;
}
.fb-icon{
  background-image: url(fb-icon.svg);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  margin-left: 1em;
}
.ig-icon{
  background-image: url(ig-icon.svg);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
}
.in-icon{
  @extend .ig-icon;
  background-image: url(in-icon.svg);
}
.tw-icon{
  @extend .ig-icon;
  background-image: url(tw-icon.svg);
}
.metas-logo-footer {
  background-image: url(logo-de-metas-footer.png);
  background-repeat: no-repeat;
  height: 100px;
  width: 380px;
  background-size: contain;
}

// **************** NAVBARS**************** //

nav {border-radius: 0 !important; }

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
}
.navbar-default {
  z-index: 1;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-weight: 200;
  letter-spacing: 1px;
  border-color: transparent;
  margin-top: 2em;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 25px;
}
.navbar-default .nav > li > a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 900;
}
.btn-to-login-modal{                      //on navbar
  cursor: pointer;
  background-color: $metas-purple;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.btn-to-signup-modal{
  cursor: pointer;
  background-color: $metas-purple;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#guestNavBar{
  margin-top: 8em;
}
#guestNavBar ul li a{ 
  font-family: 'Lato', sans-serif;
  color: $lighter-purple;
}
#guestNavBar ul li a:hover { 
  color: $metas-celeste;
}
#guestNavBar ul li:nth-child(n+4) a {
  color: white;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  padding: 0.7em 0.5em 0.7em 1.3em;
  margin-top: 0.2em;
}
#guestNavBar ul li:nth-child(5) a {
  padding: 0.7em 1.3em 0.7em 0.5em; 
}
#guestNavBar ul li:nth-child(n+4)  a:hover {
  color: $metas-celeste; 
}
#guestNavBar h5{
  color: $lighter-purple;
  margin-top: 1em;
  margin-bottom: 0em;
  margin-left: 8em;
}
#userNavBar {
  padding: 1em 0 1em 0em;
  margin-top: 0em;
  background-color: $metas-purple;
}
#userNavBar ul li a {
  color: white;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
}
.user-navbar-links{
  margin-top: 1em;
}
#userNavBar a:hover {
  color: $metas-celeste;
}
#userNavBar .navbar-name{
  color: white;
  background-color: transparent;
  border: 1px white solid;
  font-weight: 900;
  font-size: 1em;
  padding: 0.5em 0.5em;
  border-radius: 8px;
}
#userNavBar h5{
  color: white;
  margin-top: 1em;
  margin-bottom: 0em;
  position: relative;
  left: 6%;
}
#welcomeNavBar{
  margin-top: 100px;
}
#welcomeNavBar ul li a{
  color: $lighter-purple;
  font-weight: 900;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}
#welcomeNavBar .navbar-name{
  color: white;
  background-color: $metas-purple;
  font-weight: 900;
  font-size: 1em;
  padding: 0.5em 0.5em;
  border-radius: 8px;
}
#welcomeNavBar ul li a:hover{
  color: $metas-celeste;
}
#welcomeNavBar h5{
  color: $lighter-purple;
  margin-top: 1em;
  margin-bottom: 0em;
  position: relative;
  left: 6%;
}
#welcomeNavBar h6 {
  padding: 2px 2px;
  margin-top: 0em;
  margin-bottom: 0em;
  position: relative;
  left: 40%;
  text-decoration: underline;
}

// **************** MOBILE FA-BARS **************** //

.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: $metas-celeste;
  padding: 0px 10px;
  margin-top: 1em;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
// **************** Extra Small Devices, Phones **************** //
@media only screen and (max-width : 765px) {
    .btn-to-login-modal, .btn-to-signup-modal{                      
      cursor: pointer;
      color: $lighter-purple !important;
      background-color: transparent;
      border-radius: 0px 0px;
      padding: 0px 0px;
    }
    #guestNavBar ul li:nth-child(n+4) a {
      color: white;
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      padding: 0.7em 0.5em 0.7em 1.3em;
      margin-top: 0.2em;
    }
    .nav > li > a {
      position: relative;
      display: block;
      text-align: center;
    }
    #guestNavBar ul li a:hover, #welcomeNavBar ul li a:hover {
      background-color: $lighter-celeste;
      color: $lighter-purple;
    }
    #guestNavBar ul li:nth-child(n+4)  a:hover {
      background-color: $metas-celeste ! important; 
    }
    #guestNavBar h5{
      margin-left: 0em;
    }
    #welcomeNavBar h5{
      left: 0%;
    }
    #welcomeNavBar li a{
      margin: 0px 0px;
    }
    #welcomeNavBar .navbar-name{
      color: white;
      font-family: 'Lato', sans-serif;
      background-color: $metas-celeste;
      font-weight: 900;
      font-size: 1.5em;
      padding: 2em 0.5em 1em 0em;
      border-radius: 0px;
      margin: -19px 0px;
      text-align: center;
    }
    #userNavBar ul li a:hover {
      background-color: $metas-celeste;
      color: $lighter-purple;
    }
    #userNavBar h5{
      left: 0%;
    }
}

// **************** METAS LOGOS MAIN AND FOOTER **************** //

.metas-main-welcome-page-logo{
  background-image: url(logo-de-metas.png);
  background-repeat: no-repeat;
  height: 110px;
  width: 630px;
  background-size: contain;
}
.welcome-page-header-content-inner-h4{
  color: $metas-purple;
  font-weight: 500;
  letter-spacing: 0.7;
  line-height: 150%;
  font-size: 1.5em;
  margin-left: 1em;
}
.metas-main-index-page-logo{
  background-image: url(logo-de-metas.png);
  background-repeat: no-repeat;
  height: 90px;
  width: 550px;
  background-size: contain;
}
.index-page-header-content-inner-h4{
  margin-left: 1.5em;
  font-size: 1.4em;
  color: $lighter-purple;
  font-weight: 500;
  letter-spacing: 0.7;
  line-height: 150%;
}
.metas-user-navbar-logo{
  background-image: url(logo-de-metas.png);
  background-repeat: no-repeat;
  width: 310px;
  background-size: contain;
  margin: 1.5em 0em;
}


//******** FIX THIS TO NOT BE GLOBAL AND MAKE IT RESPONSIVE ******//

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-top: 1.3em;
  font-style: italic;
}
.form-control{
  height: 45px;
  width: 120%;
}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width: 120%;
    height: 45px;
    font-style: normal;
}

// .jobs-page p{
//   margin: 0px 0px 0px 0px;
// }
// .jobs-page span{
//   font-size: 30px;
//   color: $metas-purple;
//   font-weight: 600;
// }

// .jobs-page h5{
//     color: #696969;
//     font-weight: 100;
// }
// .jobs-page p{
//     color: #696969;
//     font-weight: 100;
// }
// .page a {
//   color: #696969;
//   font-weight: 100;
// }

// .next a {
//   color: #696969;
//   font-weight: 100;
// }

// .last a {
//   color: #696969;
//   font-weight: 100;
// }
// .pagination {
//     display: inline-block;
//     padding-left: 0;
//     // margin: 20px 0;
//     border-radius: 4px;
//     // text-align: center;
//     position: relative;
//     left: 37%;
//     // margin-left: 30em;
// }


/*flash*/

// .alert-error {
// background-color: #f2dede;
// border-color: #eed3d7;
// color: #b94a48;
// text-align: left;
// }

// .alert-alert {
// background-color: #f2dede;
// border-color: #eed3d7;
// color: #b94a48;
// text-align: left;
// }

// .alert-success {
// background-color: #dff0d8;
// border-color: #d6e9c6;
// color: #468847;
// text-align: left;
// }

// .alert-notice {
// background-color: #dff0d8;
// border-color: #d6e9c6;
// color: #468847;
// text-align: left;
// }




