// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// **************** 	SIGN-UP-FORM-ON-MAIN-PAGE **************** //

.signup-submit-index{
  color: white;
  background-color: $metas-purple;
}
.signup-submit-index:hover{
  color: white;
  background-color: $lighter-purple;
}
.signup-title-index-form{
  font-family: 'Lato', sans-serif;
  color: $metas-purple;
  font-weight: 900;
  text-align: center;
  font-size: 2.7em;
}
.close{
  color: $metas-purple;
}
.close:hover{
  color: $lighter-purple;
}
.forgotten-pw{
  text-align: center;
  text-decoration: underline;
}
// **************** MODALS **************** //

.btn-in-modals{
  color: white;
  // font-family: 'Lato', sans-serif;
  background-color: $metas-purple;
  font-size: 1.6em;
  font-weight: 100;
  letter-spacing: 1px;
  font-style: normal !important;
  padding-bottom: 1.5em;
}
.appreceived-btn{
  color: white;
  font-family: 'Lato', sans-serif;
  background-color: $metas-purple;
  font-size: 1.6em;
  font-weight: 100;
  letter-spacing: 1px;
  font-style: normal;
}
.appreceived-btn:hover{
  color: white;
  background-color: $lighter-purple;
}
.btn-in-modals:hover{
  color: white;
  background-color: white;
  background-color: $lighter-purple;
}
.modal-backdrop {
  background-color: rgba(38, 23, 98, 1);
}
.modal-header{                //overrides bootstrap class for border bottom in modal forms
  border-bottom: none;
}
.modal-title {
  line-height: 1.428571429;
  font-size: 2.5em;
  color: $metas-purple;
  text-align: center;
}
.login-title-modal-form{
  color: $metas-purple;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 3.5em;
}
.signup-title-modal-form{
  color: $metas-purple;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 3.5em;
}
.signup-form p{
  color: $lighter-purple;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 19px;
  margin: 1.5em -3em 2em -1em;
}
#contactus-modal p{ 
  color: $lighter-purple;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 19px;
  text-align: center;
}
.apply-modal p{ 
  color: $lighter-purple;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 19px;
  text-align: center;
}
.session-offset{
  text-align: center;
  color: $metas-purple;
}
.session-offset span{
  text-decoration: underline;
  color: $lighter-celeste;
}
.checkbox > label{
  color: $metas-purple;
  margin-top: 0.7em;
}
.checkbox > label > span {
  text-decoration: underline;
}
.signup-form, .login-form{
  margin-left: 1.5em;
}
// **************** EDIT PROFILE **************** //

.editprofile h2, h3 {
  color: #0EF4B5;
  font-weight: 100;
}
.uploadpic-btn{
  margin-top: 1em;
  border: 4px solid $metas-purple;
  color: $metas-purple;
  background-color: white;
  font-size: 1.3em;
  padding: 3px 40px;
}
.saveprofile-btn{
  border: 4px solid $metas-purple;
  color: $metas-purple;
  background-color: white;
  padding: 4px 30px 1.5em 30px;
}
.saveprofile-btn:hover, .uploadpic-btn:hover{
  color: white;
  background-color: $metas-purple;
}
.editprofile .btn-custom:hover{
  background-color: #0EF4B5;
}
.editprofile input, button, select, textarea {
  font-family: inherit;
  font-size: 1.3em;
  line-height: inherit;
  font-style: normal;
  margin-top: 1em;
  width: 330px;
  height: 35px;
}
.editprofile img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-top: 2em;
  // background-image: url('profile-pic-250.png');
  // background-repeat: no-repeat;
}
.profile-pic{
  text-align: center;
  // border: 2px green solid;
}
.profile-info{
  padding-left: 5em;
}
.editprofile .form-control {
  font-size: 15px;
  font-weight: 300;
}
.editprofile h4 {
  font-family: 'Raleway', sans-serif;
  color: $lighter-purple;
  font-weight: 400;
}
#user_about, #user_skills{
  padding-bottom: 3em;
}
.profile-btn{
  @extends .btn-in-modals;
  padding-bottom: 7px;
}






