<nav id="guestNavBar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><i class="pull-right fa fa-bars fa-2x" aria-hidden="true"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li><a class="guestNavBarCursor" data-toggle="modal" data-target="#signup-modal">Jobs</a></li>
                <li><a class="guestNavBarCursor" data-toggle="modal" data-target="#signup-modal">Resources</a></li>
                <li><a class="guestNavBarCursor" data-toggle="modal" data-target="#signup-modal">About</a></li>
                <li><a class="btn-to-login-modal" data-toggle="modal" data-target="#login-modal">Log In</a></li>
                <li><a class="btn-to-signup-modal" data-toggle="modal" data-target="#signup-modal">Sign Up</a></li><br />
                <h7 class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-12 col-xs-offset-0">Para informaci&#243;n en espa&#241;ol, llama 510-200-8260</h7>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>