<div class="holder document-page">
  <% if user_signed_in? %>
    <%= render 'partials/userDoc' %>
  <% else %>
    <%#= render 'jobsGuestnavbar' %>
    <%= render 'partials/guestDoc' %>
  <% end %>
</div><!-- holder document-page -->

 