<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <div class="metas-main-index-page-logo img-responsive"></div>
                        <h4 class="index-page-header-content-inner-h4">We are dedicated to providing job opportunities and career <br> &nbsp;&nbsp;&nbsp;&nbsp;development resources for the Latino working class.</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait">
                        <div class="device">
                            <!-- <div class="screen"> -->
                                <%= render :template=> 'devise/registrations/new-index-page-form' %>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading col-md-offset-1">JOBS</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-md-offset-2 text-center">
                <div class="service-box service-img">
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">VHS pop-up subway tile, portland jianbing cred pitchfork put a bird on it. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <div class="service-box service-img-2">
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">YVHS pop-up subway tile, portland jianbing cred pitchfork put a bird on it. </p>
                </div>
            </div>
        </div>   
    </div>   
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading col-md-offset-1">RESOURCES</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-md-offset-2 text-center">
                <div class="service-box service-img">
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">VHS pop-up subway tile, portland jianbing cred pitchfork put a bird on it. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <div class="service-box service-img-2">
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">VHS pop-up subway tile, portland jianbing cred pitchfork put a bird on it. </p>
                </div>
            </div>
        </div>   
    </div> 
</section>