<header>
	<div class="col-md-12">
		<div class="header-bg-img">
			<div class="col-sm-7">
				<div class="header-content">
					<div class="header-content-inner">
						<h4>We are dedicated to providing job opportunities and career <br> &nbsp;&nbsp;&nbsp;&nbsp;development resources for the Latino working class.</h4>
					</div>
				</div>
			</div>
		</div>
	</div>    
</header>