<header>
	<div class="col-md-12">
		<div class="header-bg-img">
			<div class="col-sm-7">
				<div class="header-content">
					<div class="header-content-inner">
						<h3>We are dedicated to providing job opportunities and career development  resources for the Latino working class!</h3>
						<a href="#" class="btn btn-outline btn-xl page-scroll">Sign Up!</a>
					</div>
				</div>
			</div>
		</div>
	</div>    
</header>