<div class="container jobs-page">
    <form action="/search" method="GET">
        <input type="text" name="q" value="" placeholder= "Keyword(s)" class="col-lg-offset-1 col-lg-8 col-md-8 col-sm-8 col-xs-8">
        &nbsp;&nbsp;<input type="submit" class="btn job-search-btn", value="SEARCH"> 
    </form> 
<br />      

<div class="container-fluid filters-wrapper">
  <div class="row">
      <div class="dropdown col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-12 col-sm-offset-1">
        <button class="btn options-btn dropdown-toggle" type="button" data-toggle="dropdown">Type of Employment
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Full-Time</a></li>
          <li><a href="#">Part-Time</a></li>
        </ul>
      </div>
      <div class="dropdown col-lg-4 col-lg-offset-0  col-md-4 col-md-offset-0 col-sm-12 col-sm-offset-1">
        <button class="btn options-btn dropdown-toggle" type="button" data-toggle="dropdown">Income Range
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">$10-$20</a></li>
          <li><a href="#">$21-$30</a></li>
          <li><a href="#">$31-$40</a></li>
        </ul>
      </div>
      <div class="dropdown col-lg-4 col-lg-offset-0  col-md-4 col-md-offset-0 col-sm-12 col-sm-offset-1">
        <button class="btn options-btn dropdown-toggle" type="button" data-toggle="dropdown">Location
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">New York</a></li>
          <li><a href="#">California</a></li>
        </ul>
      </div> 
  </div>    
</div>

    <h2>
      <%=
        case @documents.total_results_size
        when 0
          "No document found"
        when 1
          "One document found"
        else
          "#{@documents.total_results_size} Results"
        end
      %>
    </h2>

      <% @documents.each do |doc| %>

      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              <p>
                <%= doc.as_html_safe(link_resolver())%>
                <%#= doc.id %>
              </p>
              <div class="btn job-apply-btn pull-right">APPLY</div>
            <td>
          </tr>
        </tbody>
      </table>
       <% end %>
  <hr>
  <%= paginate @documents %>
</div>
