<section id="services-resources-page">
    <div class="container">
        <div class="row resources-padding jobs-div">
            <%= link_to application_resources_path do %>
                <div class="col-lg-6 col-lg-offset-1 col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-0 col-xs-12">
                    <div class="service-img-1 img-responsive">
                        <div class="service-box">
                            <h3>JOB TOOLS</h3>
                            <p>From resume to cover letters, we've got you covered.</p>
                        </div>
                    </div>   
                </div>
            <% end %>
        </div> 
        <div class="row resources-padding">
            <%= link_to application_resources_path do %>
                <div class="col-lg-6 col-lg-offset-1 col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-0 col-xs-12">
                    <div class="service-img-2 img-responsive">
                        <div class="service-box">
                            <h3>CAREER COUNSELING</h3>
                            <p>Consult with our METAS coaches for personalized career advice.</p>
                        </div>
                    </div> 
                </div>
            <% end %>
        </div>
        <div class="row resources-padding">
            <%= link_to application_resources_path do %>
                <div class="col-lg-6 col-lg-offset-1 col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-0 col-xs-12">
                    <div class="service-img-3 img-responsive">
                        <div class="service-box">
                            <h3>CERTIFICATIONS 101</h3>
                            <p>Learn about available certifications available in your industry.</p>
                        </div>
                    </div>    
                </div>
            <% end %>
        </div>    
    </div><!-- container --> 
</section>
<br />
